@model Product

<h1>Edit</h1>

<h4>Product</h4>
<hr />
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
            <img src="/@Model.ImageUrl" asp-validation-for="ImageUrl" width="300xp" class="text-danger"></img>
                </div>
            <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChuThich" class="control-label"></label>
                <input asp-for="ChuThich" class="form-control" />
                <span asp-validation-for="ChuThich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.ListCategory">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>              
                <input  type="file" name="file" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <button type="submit" value="" class="btn btn-primary">Update</button>
                        <a asp-action="Index" class="btn btn-secondary">Back Home</a>
            </div>
            </div>
            </div>
        </form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_ValidationScriptsPartial" />
}
