<h2>Trang tải file lên</h2>
<hr />

<form asp-action="Upload" method="post" enctype="multipart/form-data" class="form-control">
    <label>Nhập file để tải lêm: </label>
    <input type="file" name="fUpLoad" class="form-control" />
    <button type="submit" class="btn-danger">Tải lên</button>
</form>
